
<%-include('header.ejs')%>

<head>
  
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo">Engineers Connect Club</label>
  <ul>
    <li><a href="/index">Home</a></li>
    <li><a href="/allevents">Events</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/allmembers">Team</a></li>
    <button class="nav_button"><a href="#">Join Community</a></button>
  </ul>
</nav>