<!-- <head>
    <style>
        .alert{
            position: fixed;
            margin-top: 50px;
            width:80%;
            padding: 50px;
            z-index: 11;
        }
    </style>
</head>

<div class="alert">
    <img src="/images/poster.jpg" alt="">
</div> -->