<!-- <head>
    <link rel="stylesheet" href="/css/pastEvent.css">
</head> -->

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.all{
    background-color: #e1e1e1;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6%;
    padding:100px 10px ;
    
 background-image: url("../images/bg.png");
 background-repeat: no-repeat;
 background-size: cover;
}
.allevent{
    text-align: center;
    background: #fff;
    margin: 20px 0 30px 0;
}
.alleventpic{
    width: 300px;
    height: 370px;
}
.all h1{
    width: 100%;
    text-align: center;
    color: var(--theme);
    font-size: 60px;
    padding: 10px 0 10px 0;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}

</style>

<!-- nav -->
<%-include('partials/navbar.ejs')%>

<section class="all">
    <h1>Previous Events</h1>

    
    
        <% allevents.forEach(event => { %>
         
        <div class="allevent">
        <img src="/images/posters/<%=event.img%>" alt="" class="alleventpic">
        <div class="alleventinfo">
            <h3><%=event.eventTitle%></h3>
            <h5>Date: <%=event.eventDate%></h5>
        </div>
    </div>
        <% }) %>
</section>