<%-include('partials/navbar.ejs')%>

<head>
  <link rel="stylesheet" href="/css/allmembers.css">
</head>

<section class="mem">
  <!-- faculty & founder -->
    <div class="memcard ff">
        <div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
    </div>

    <!-- present team -->
    <h1>Team 2023-24</h1>
    <div class="memcard present">
        <div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card cards">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
<div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card cards">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
<div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card cards">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
<div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card cards">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>


    </div>

    
     <!-- old team -->
    <h1><button onclick="dis()">Team 2022-23 ></button></h1>
    <div class="memcard old"style="display: none;" id="old" >
        <div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card cards">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
<div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card cards">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
<div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card cards">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
<div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card cards">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
        <div class="card">
          <div class="bg"></div>
            <img src="/images/poster.jpg" alt="">
            <div class="info">
                <h3>User Fullname</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="handles">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>

    </div>
</section>

<%-include('footer.ejs')%>


<script >
  disblk=document.getElementById('old');
  function dis(){
    disblk.style="display:flex;";
  }
</script>