<head>
    <link rel="stylesheet" href="/css/faculty.css">
</head>

<section class="faculty" >
    <div class="faculty_left faculty_sub" >
        <div class="facultyPic" data-aos="zoom-in">
            <div class="shape"></div>
            <div class="facInfo">
                <img src="/images/faculty.jpg" alt="" class="poster" data-aos="zoom-in">
            <div class="info">
                <h3>Dr. K.S.Tiwari</h3>
                <h5>Faculty Coordinator</h5>
            </div>
            <div class="social">
                <a href="#"><i class="fa fa-brand fa-instagram"></i></a>
                <a href="#"><i class="fa fa-brand fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-brand fa-github"></i></a>
            </div>
            </div>
        </div>
        
        <div class="facultyPic" data-aos="zoom-in">
            <div class="shape"></div>
            <div class="facInfo">
                <img src="/images/Christy.jpg" alt="" class="poster" data-aos="zoom-in">
            <div class="info">
                <h3>Christy Daniel</h3>
                <h5>Founder</h5>
            </div>
            <div class="social">
                <a href="#"><i class="fa fa-brand fa-instagram"></i></a>
                <a href="#"><i class="fa fa-brand fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-brand fa-github"></i></a>
                
            </div>
            </div>
        </div>
        
        
    </div>

    <div class="faculty_right faculty_sub">
        <h1 data-aos="zoom-in">Faculty &<br> Founder</h1>
    </div>
</section>

