<head>
  <link rel="stylesheet" href="/css/goal.css">
</head>


<section class="goal">
    <!-- goal card -->
    <div class="goal_card" data-aos="slide-up">
        <div class="goal_left goal_sub">
            <i class="fa-regular fa-lightbulb"></i>
        </div>
        <div class="goal_right goal_sub">
            <h2>Vision</h2>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, cumque?</p>
        </div>
    </div>
    
    <!-- goal card -->
    <div class="goal_card" data-aos="slide-up">
        <div class="goal_left goal_sub">
            <i class="fa-solid fa-bullseye"></i>
        </div>
        <div class="goal_right goal_sub">
            <h2>Mission</h2>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, cumque?</p>
        </div>
    </div>
    
    <!-- goal card -->
    <div class="goal_card" data-aos="slide-up">
        <div class="goal_left goal_sub">
            <i class="fa-regular fa-flag"></i>
        </div>
        <div class="goal_right goal_sub">
            <h2>Goal</h2>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, cumque?</p>
        </div>
    </div>
    
</section>