<head>
  <link rel="stylesheet" href="/css/hero.css">
</head>

<section class="hero" id="hero">

  <!-- left -->
  <div class="left sub"  data-aos="zoom-out">
    <div class='div' >
      <h6><span>Engineers<br>Connect Club</span></h6>
    </div>
    <p><u>MESWCOE's First Inter-Departmental Club</u></p>
    
    <div class="icons" data-aos="zoom-out">
      <span class="span"  data-aos="zoom-in">
        <a href="https://www.linkedin.com/company/engineers-connect-club/"><i class="fab fa-linkedin"></i></a>
        <a href="https://instagram.com/engineersconnectclub?igshid=YmMyMTA2M2Y="><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com/ecc_mescoepune?s=21&t=nTzOSmZ_zy0ja4URldVL1Q"><i class="fab fa-twitter"></i></a>
        <a href="https://www.youtube.com/@engineersconnectclub"><i class="fab fa-youtube"></i></a>  
        <a href="https://m.facebook.com/Engineers-Connect-Club-109363731777074/"><i class="fab fa-facebook"></i></a>
        <a href="https://t.me/engineersconnectclub"><i class="fab fa-telegram"></i></a>
      <h6>Join Our Community For Latest Updates</h6></span>
      </div>
  </div>

  <!-- right -->
  <div class="right sub" data-aos="zoom-out" >
    <img src="/images/ecc_logo.png" alt="" class="phone_img">
  </div>

</section>

