<head>
  <link rel="stylesheet" href="/css/hero.css">
</head>

<section class="hero" id="hero">

  <!-- left -->
  <div class="left sub"  data-aos="zoom-out">
    <div class='div' >
      <h6><span>Engineers<br>Connect Club</span></h6>
    </div>
    <p> <i><u>MESWCOE's first Inter-Departmental Club</u></i></p>
    
    <div class="icons" data-aos="zoom-out">
      <span class="span"  data-aos="zoom-in">
      <a href="#"><img src="/images/whatsapp.jpeg" alt="" class="whatsapp"></a>
      <h6>Join Our Community<br> For Latest Updates</h6></span>
      </div>
  </div>

  <!-- right -->
  <div class="right sub" data-aos="zoom-out" >
    <img src="/images/ecc_logo.png" alt="" class="phone_img">
  </div>

</section>

