
<head>
    <link rel="stylesheet" href="/css/pastEvent.css">
</head>

<section class="pastevents">
    <h1 data-aos="slide-up">Previous Events</h1>
    <div class="events">
       
        <% allevents.forEach(event => { %>
         
        <div class="eventCard" data-aos="slide-up">
            <img src="/images/posters/<%=event.img%>" alt="" class="eventposter" >
            <div class="eventinfo">
                <h3 class="eventtitle"><%=event.eventTitle%></h3>
                <h5 class="eventdate">Date: <%=event.eventDate%></h5>
            </div>
        </div>
        
        <% }) %>
    </div>
    
        <a href="/allevents"><button>More</button></a>
</section>