<head>
  <link rel="stylesheet" href="/css/team.css">
</head>

<section class="team">
  <h1 data-aos="slide-up">Core Members</h1>
  <div class="teams">

    <div class="teamPic" data-aos="slide-up">
      <div class="shape"></div>
      <div class="teamInfo">
        <img src="/images/poster1.jpg" alt="" class="poster" data-aos="zoom-in">
        <div class="info">
          <h3>Aditya<br>Kumawat</h3>
          <h5>Faculty Coordinator</h5>
        </div>
        <div class="social">
          <a href="#"><i class="fa fa-brand fa-instagram"></i></a>
          <a href="#"><i class="fa fa-brand fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-brand fa-github"></i></a>
        </div>
      </div>
    </div>

    <div class="teamPic" data-aos="slide-up">
      <div class="shape"></div>
      <div class="teamInfo">
        <img src="/images/poster.jpg" alt="" class="poster" data-aos="zoom-in">
        <div class="info">
          <h3>Aditya<br>Kumawat</h3>
          <h5>Faculty Coordinator</h5>
        </div>
        <div class="social">
          <a href="#"><i class="fa fa-brand fa-instagram"></i></a>
          <a href="#"><i class="fa fa-brand fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-brand fa-github"></i></a>
        </div>
      </div>
    </div>

    <div class="teamPic" data-aos="slide-up">
      <div class="shape"></div>
      <div class="teamInfo">
        <img src="/images/poster1.jpg" alt="" class="poster" data-aos="zoom-in">
        <div class="info">
          <h3>Aditya<br>Kumawat</h3>
          <h5>Faculty Coordinator</h5>
        </div>
        <div class="social">
          <a href="#"><i class="fa fa-brand fa-instagram"></i></a>
          <a href="#"><i class="fa fa-brand fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-brand fa-github"></i></a>
        </div>
      </div>
    </div>

    <div class="teamPic" data-aos="slide-up">
      <div class="shape"></div>
      <div class="teamInfo">
        <img src="/images/poster.jpg" alt="" class="poster" data-aos="zoom-in">
        <div class="info">
          <h3>Aditya<br>Kumawat</h3>
          <h5>Faculty Coordinator</h5>
        </div>
        <div class="social">
          <a href="#"><i class="fa fa-brand fa-instagram"></i></a>
          <a href="#"><i class="fa fa-brand fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-brand fa-github"></i></a>
        </div>
      </div>
    </div>

  </div>

</section>

<!-- team photo -->
<section class="team">
  <h1 data-aos="slide-up">OUR TEAM</h1>
  <div class="teams fullteam" >
    <img src="/images/team.jpg" alt="" data-aos="slide-up">
  </div>

</section>