<head>
  <link rel="stylesheet" href="/css/team.css">
</head>

<section class="team">
  <h1 data-aos="slide-up">Core Members</h1>
  <div class="teams">

    <%for (let i = 0; i <= 3; i++) {
      const element = newteam[i];
     
    <div class="teamPic" data-aos="slide-up">
      <div class="shape"></div>
      <div class="teamInfo">
        <img src="/images/poster1.jpg" alt="" class="poster" data-aos="zoom-in">
        <div class="info">
          <h3>AdityaKumawat</h3>
          <h5>Faculty Coordinator</h5>
        </div>
        <div class="social">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
        </div>
      </div>
    </div>
 
    }

    <a href="/allmembers"><button>More</button></a>
  </div>

</section>

<!-- team photo -->
<section class="team">
  <h1 data-aos="slide-up">OUR TEAM</h1>
  <div class="teams fullteam" >
    <img src="/images/oldteam.JPG" alt="" data-aos="slide-up">
  </div>

</section>