<head>
    <link rel="stylesheet" href="/css/upcoming.css">
</head>

<section class="upcoming" >
    <div class="upcoming_left upcoming_sub" >
        <h1 data-aos="slide-right">Upcoming <br> Event</h1>
    </div>

    <div class="upcoming_right upcoming_sub">
        
        <% for( let i = 0; i <=1 ; i++ ) { %>
         <%const element = allevents[i];%>
            <img src="/images/posters/<%=allevents.img%>" alt="" class="poster" data-aos="slide-left">
        <% } %>
    </div>
</section>

