@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
*{
    margin: 0;padding: 0;
}
.gallery{
    padding-top: 100px;
 background-image: url("../images/bg.png");
 background-repeat: no-repeat;
 background-size: cover;
 
}

.gallery h1{
    /* width: 100%; */
    text-align: center;
    color: #CC5F12;
    font-size: 60px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
}
hr{
    color: grey;
}
.eventinfo h3{
    color: #fff;
    text-align: center;
}
.eventinfo .row{
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.eventphoto{
    width: 25%;
    height: 250px;
    /* border: 1px solid red; */
}

@media screen and (max-width:700px) {
    .eventphoto{
        width: 50%;
    }
}

@media screen and (max-width:400px) {
    .eventphoto{
        width: 100%;
    }
}